/**
 *  Class used to design the type of GUI scene and buttons.
 *
 * @author Yujue Zou
 * @version 16/05/2018
 */
.root {
    -fx-font-family: "Tempus Sans ITC";
    -fx-font-size: 16px;
    -fx-background-color: lightyellow;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: pink;
}
